    body{
        margin: 0;
        padding: 0;
    }
    body{
        background-color:#1773A2;
    }
    .contenedor {
        width: 100%;
        overflow: hidden;
      }
    .rueda {
        margin: auto;
        width: 50px;
        height: 50px;
        background-image: url("klipartz.com.png");
        background-repeat: no-repeat;
        background-clip: padding-box; 
        background-size: 100%, 100%, auto;
        animation: moverYRotar; 
        animation-duration: 6s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @keyframes moverYRotar {
      0% {
        transform: translateX(-900%) rotate(0deg); /* Comienza desde la posición inicial sin rotación */
      }
      100% {
        transform: translateX(900%) rotate(1440deg); /* Termina en la posición desplazada hacia la derecha con una rotación completa */
      }
    }
    p{
        color: white;
    }
    #plan p{
        color: #1773A2;
        text-align: center;
        /*font-size: 2em;
        text-indent: 2em;*/
    }
    #cabecera{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: no-wrap;
        position: sticky;
        top: 0;
        background-color:#1773A2;
        border-bottom: 0.1em solid #114d6b;
        padding-bottom: 0.5em;
        padding-top: 0.5em;  
        width: 100%;
        margin: 0 auto;
        /*padding-left: 15%;
        padding-right: 15%;*/
        box-shadow: 5px 10px 10px #114d6b;
    }
    #cabecera button:nth-last-child(1){
        display: none;
    }
    #cabecera button:nth-last-child(4){
        display: none;
    }
    /*#cabecera button:first-of-type{
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 6em;
        padding-right: 6em;
    }*/
    button{
        /*padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 3em;
        padding-right: 3em;
        margin: auto 0 auto 0;*/
        width: 25%;
        height: 15%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius: 25px 25px;
    }
    button#azul:hover{
        background-color:#114d6b;
        color: white;
    }
    button#blanco:hover{
        background-color:#114d6b;
        color: white;
    }
    button#blanco{
        background-color:white;
        border-color: white;
        border-width: 1%;
        color: #1773A2;
        font-size: 100%;
    }
    button#azul{
        color:white;
        border-color: white;
        border-width: 0.031em;
        background-color: #1773A2;
        font-size: 100%;
    }
    
    div#cabecera img{
        width: 2.2em;
        height: 2.2em;
        /*vertical-align:middle;
        margin-left: 1em;
        margin-right: 2em;*/
    }
    div#linea{
        padding-top: 0.1em;
        background-color: white;
        margin-top: 1em;
        /*width: 62%;
        //margin-left: auto;
        /margin-right: auto;*/
    }
    
    div#ruta{
        margin-left: 0.5em;;
    }
    
    div#plan{
        background-color: #ffffff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        box-shadow: 5px 10px 10px #114d6b;
    }
    
    table,td,th{
        border-collapse: collapse;
        border: 0.01em solid white;
        color:white ;
    }
    table{
        width: 90%;
        text-align: center;
        margin: auto;
    }
    td{
        background-color: white;
        color: #1773A2;
        font-size: 80%;
        font-weight: bold;
        text-align: left;
    }
    th{
        font-weight: lighter;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 80%;
    }
    #rojo{
        color: red;
    }
    #verde{
        color: green;
    }
    #amarillo{
        color: yellow;
    }
    
    div#ord{
        background-color: white;
        padding: 2%;
        margin-top: 5%;
    }
    
    div#ord p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        margin: 1%;
        font-size: 60%;
        text-align: left;
    }
    #videos{
        margin: auto;
        margin-top: 5%;
        display: flex;
        align-items: center;
        background-color: #114d6b;
        flex-direction: column;
    }
    #videos iframe{
        width: 70%;
        height: 70%;
        margin: 5%;
    }
    #videos video{
        width: 70%;
        height: 70%;
        margin: 5%;
    }
    #salir #blanco{
        margin: auto;
        border-radius: 0;
        border: none;
    }
    #salir{
        padding: 2%;
        display: flex;
        align-content: center;
    }
    #rrss{
        display: flex;
        justify-content: center;
        margin-top: 3%;
        width: 100%;
    }
    
    #rrss #ins{
        background-image: url("Instagram_Rounded_icon-icons.com_61576.png");
        background-repeat: no-repeat;
        /*background-clip: padding-box;*/ 
        padding: 1.5em;
        background-size: 80%, 80%, auto;
        position: relative;
        filter: drop-shadow(4px 4px 4px black);
        z-index: -1;
    }
    #rrss #fb{
        background-image: url("Facebook_Rounded_icon-icons.com_61578.png");
        background-repeat: no-repeat;
        background-clip: padding-box; 
        padding: 1.5em;
        background-size: 80%, 80%, auto;
        position: relative;
        filter: drop-shadow(4px 4px 4px black);
        z-index: -1;
    }
    
    #rrss #link{
        background-image: url("LinkedIn_Rounded_icon-icons.com_61573.png");
        background-repeat: no-repeat;
        background-clip: padding-box; 
        padding: 1.5em;
        background-size: 80%, 80%, auto;
        position: relative;
        filter: drop-shadow(4px 4px 4px black);
        z-index: -1;
    }
    #cont{
        background-color: #114d6b;
        margin-top: 1%;
        display: flex;
        justify-content: space-around;
        font-size: 80%;
    }
    #cont div h3 {
        text-decoration:underline ;
        color: white;
    }
    #cont div{
        text-align: center;
    }
    .audio{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    @media screen and (min-width: 600px) {
        #cabecera button{
            width: 15%;
        }
        #cabecera button:nth-last-child(1) {
            display: block;
        }
        
        #cabecera button:nth-last-child(4) {
            display: block;
        }
        #videos{
            margin: auto;
            margin-top: 5%;
            display: flex;
            justify-content:space-around;
            align-items: center;
            flex-direction: row;
        }
        #videos iframe{
            width: 40%;
            height: 40%;
            margin: 0;
        }
        #videos video{
            width: 40%;
            height: 40%;
            margin: 0;
        }
    }
    @media screen and (min-width:1023px) {
        .layout {
            height: fit-content;
            display: grid;
            grid:
              "sidebar body" 1fr
              / 20% 79%;
            gap: 8px;
        }
          
        #cabecera {
            display: flex;
            grid-area: sidebar;
            align-items: center;
            justify-content: left;
            flex-direction: column;    
        }
        
        #cabecera a {
            order: -1; /* Mueve la imagen hacia arriba */
        }
        
        #cabecera button:nth-last-child(1) {
            display: block;
        }
        
        #cabecera button:nth-last-child(4) {
            display: block;
        }
        #cabecera button {
            width: 100%;
            height: 5%;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid #ffffff;
        }
        #cuerpo{ 
            grid-area: body; 
        }
        #plan p{
            font-size: 150%; 
        }
        table{
            width: 90%;
            transition: width 2s, height 4s,font-size 7s;
        }
        table:hover{
            height: 150%;
            width: 100%;
            font-size: 150%;
        }
        div#ord p{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            margin: 1%;
            font-size: 100%;
            text-align: left;
        }
        #videos{
            margin: auto;
            margin-top: 5%;
            display: flex;
            justify-content:space-around;
            align-items: center;
            flex-direction: row;
        }
        #videos iframe{
            width: 40%;
            height: 40%;
            margin: 0;
        }
        #videos video{
            width: 40%;
            height: 40%;
            margin: 0;
        }
        .rueda{
            background-image: url("klipartz.com\ \(1\).png");
        }
    }
